html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --------------------------------Termina normalize-------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

.cuerpo {
  background-image: url("../imagenes/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 250% 100%;
  background-color: rgb(89, 0, 131);
  background-blend-mode: multiply;
}
/* -------------------------------Pagina principal-------------------------------------------- */
.grid {
  display: grid;
  grid-template-areas: "header" "contenido" "Footer";
}
.header {
  background-color: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(3px);
  color: rgb(250, 250, 250);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
.princ {
  width: 60px;
  height: auto;
  border: solid 2px rgb(180, 180, 180);
  box-shadow: 0 0 5px 1px white;
  border-radius: 50%;
}
hr {
  display: none;
}
.botones {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
  padding-top: 5%;
}
.botones a {
  text-decoration: none;
  color: white;
  padding: 5px 10% 5px 10%;
  font-size: 18px;
}
.central {
  border-left: solid 2px white;
  border-right: solid 2px white;
}
.texto {
  width: 100%;
  padding: 10%;
}
.contexto {
  background-color: rgba(50, 50, 50, 0.4);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.contexto p {
  text-align: justify;
}
.texto img {
  width: 50%;
  border-radius: 50%;
  border: solid;
  /* box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.623); */
}
.texto p {
  padding: 10% 5% 0 5%;
  font-size: 18px;
}
.descripcion {
  color: white;
  text-justify: distribute;
}
.botcont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.botcont a {
  width: 100%;
}
.boton {
  width: 80%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(87, 87, 87);
  background-image: url("../imagenes/zak.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  margin: 5% auto 5% auto;
  box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.8);
  border: solid 15px rgba(10, 10, 10, 0.664);
}
.btn-1 {
  background-image: url("../imagenes/moon.jpg");
}
.btn-2 {
  background-image: url("../imagenes/zak.jpeg");
}
.btn-3 {
  background-image: url("../imagenes/zak.jpg");
}
.link {
  text-decoration: none;
}
.boton h2 {
  color: white;
}
.footer {
  background-color: rgba(14, 14, 14, 0.7);
  display: flex;
  justify-content: space-around;
  padding: 10%;
}
.redes i {
  font-size: 25px;
  color: white;
}
.bi-twitter {
  padding-left: 20px;
  padding-right: 20px;
}
.ubicacion {
  color: white;
  font-size: 20px;
}
/* -------------------------------Pagina Galeria-------------------------------------------------- */
/* .galeria{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

} */
.contenido h3 {
  padding: 5%;
  color: white;
}
.galeria {
  line-height: 0;
  column-count: 2;
  gap: 10px;
  padding: 0 5% 0 5%;
}
.galeria img {
  width: 100% !important;
  height: auto !important;
  padding: 10px 0 0 0;
}

/* -------------------------------Pagina TOS-------------------------------------------------- */
.terminos-contenedor {
  background-color: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(3px);
  margin: 10%;
}
.terminos {
  color: rgb(228, 228, 228);
  padding: 10%;
  text-align: justify;
}
/* -------------------------------Pagina Precios-------------------------------------------------- */
/* -------------------------------Pagina Contacto--------------------------------------- */
.contacto {
  background-color: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(3px);
  padding: 10%;
  margin: 10%;
}
.elem-group {
  width: 100%;
}
.elem-group label {
  color: white;
  font-weight: 600;
}
.elem-group input {
  width: 100%;
  background-color: rgba(12, 0, 32, 0.507);
  border: 0;
  border-radius: 10px;
  height: 30px;
  color: white;
  padding: 5%;
}
.elem-group textarea {
  width: 100%;
  background-color: rgba(12, 0, 32, 0.507);
  border: 0;
  padding: 3%;
  border-radius: 10px;
  height: 100px;
  resize: none;
  color: white;
}
.contacto form {
  width: 100;
}
.sube {
  width: 100%;
  margin-top: 5%;
  border: solid 2px rgba(255, 255, 255, 0.527);
  background: none;
  color: white;
  height: 45px;
}
/* -------------------------------Responsive-------------------------------------------------- */
/* ------------------------------Media query tablet------------------------------------------ */
@media screen and (min-width: 650px) {
  .botones {
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .botones a {
    padding: 10px 10% 10px 10%;
    font-size: 20px;
  }
  hr {
    display: block;
    align-self: center;
    width: 80%;
    border: solid 2px white;
  }
  .contexto p {
    font-size: 30px;
  }
  .botcont a {
    width: 100%;
  }
  .boton {
    width: 80%;
    height: 200px;
  }
  .boton h2 {
    font-size: 40px;
  }
  .footer {
    padding: 7%;
  }
  .redes i {
    font-size: 35px;
  }
  .bi-twitter {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ubicacion {
    font-size: 35px;
  }
}
/* ------------------------------Media query desktop------------------------------------------ */
@media screen and (min-width: 1000px) {
  .cuerpo {
    background-size: 100% 100%;
  }
  .header {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding: 0;
  }
  hr {
    display: none;
  }
  .botones {
    display: flex;
    width: 30%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }
  .carrusel {
    padding-right: 5%;
    padding-left: 5%;
  }
  .texto {
    width: 100%;
    padding: 5% 20% 5% 20%;
  }
  .contexto {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
  .texto img {
    width: 30%;
  }
  .texto p {
    padding: 0% 7% 0 10%;
    font-size: 30px;
    text-align: justify;
  }
  .botcont {
    flex-direction: row;
    padding: 0 5% 3% 5%;
  }
  .botcont a {
    width: 30% !important;
  }
  .boton {
    width: 90% !important;
    height: 250px;
    margin: 0 auto 5% auto;
  }
  .footer {
    padding: 2%;
  }
  .bi-twitter {
    padding-left: 40px;
    padding-right: 40px;
  }
  .ubicacion {
    color: white;
    font-size: 25px;
  }
  /* -------------------responsive galeria------------------------------ */
  .contenido h3 {
    padding: 2% 0% 2% 10%;

    color: white;
    font-size: 40px;
  }
  .galeria {
    line-height: 0;
    column-count: 4;
    gap: 10px;
    padding: 0 5% 0 5%;
  }
  .galeria img {
    width: 100% !important;
    height: auto !important;
    padding: 10px 0 0 0;
  }
  /* -------------------------responsive Contacto --------------------------- */
  .contacto {
    padding: 3% 7% 3% 7%;
    margin: 3% 30% 3% 30%;
  }
  .contacto h3 {
    padding-left: 0;
  }
  .elem-group {
    padding-top: 15px;
  }
  .elem-group input {
    height: 50px;
  }
  .elem-group textarea {
    height: 120px;
  }
  .sube:hover {
    background-color: white;
    color: black;
  }
  /* --------------------------Responsive TOS---------------------------------- */
  .terminos-contenedor {
    background-color: rgba(50, 50, 50, 0.3);
    backdrop-filter: blur(3px);
    margin: 5% 15%;
  }
  .terminos {
    color: rgb(228, 228, 228);
    padding: 5% 10%;
    text-align: justify;
  }
}
